@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* Makeshift CSS Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  	font-family: 'Comfortaa', cursive;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article
{
    display: block;

}

.wrapper {

	padding: 15px;
	display:flex;
	justify-content: space-between;
}


.wrapper .inputSearch {
	padding: 15px 20px;
	font-weight: bold;
	width: 100%
}
#searchBar {
	padding: 15px 20px;
	font-weight: bold;
	width: 100%
}

img {
	float: left;
}
p { float: left;}

#footer {

 clear:both;
 height:150px;
 margin-top: -150px;
 bottom : 0;
 
}

#colleft {
 float:left;
 width:400px;
 height:150px;
}

#colright {
 float:right;
 position:relative;
 width:260px;
 height:150px;
}
h1 {
    text-align: center;
    margin: 0px auto;
    display; block;
}
#login, #register {
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#400040;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	margin: 0 auto;
    display: block;
    width: 130px;	
}

#login:hover, #register:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
#login:active, #register:active {
	position:relative;
	top:1px;
}

#frmLogin, #frmReg {
	text-align: center;
	margin-top: 25px;
	 display: block;
 	 
}
h3 {
	text-align: center;
	text-decoration: underline;
}
h2 {
    overflow: hidden;
    text-align: center;
}
h2:before,
h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h2:before {
    right: 0.5em;
    margin-left: -50%;
}
h2:after {
    left: 0.5em;
    margin-right: -50%;
}

#logout {
	padding: 0;
	padding-right: 110px;
	border: none;
	background: none;
}
.favImg, .searchItem {
	width: 250px;
}

.searchResult {
	width: 50%;
}
.col-xs-6 {
	display: block;
}
.recipes {
	width: 50%;
}

@media only screen and (max-width: 800px) {
.searchResult{
	width: 100%;
	overflow: hidden;
	padding: 15px;
	text-align: justify;
}

	
	}

